body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .header {
    background-color: #948f8f;
    text-align: center;
    padding: 20px;
  }

  /* Style the top navigation bar */
.topnav {
    overflow:hidden;
    background-color: #F1F1F1;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #201f1f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  #boxes {
    content: "";
    display: table;
    width: 100%;
    clear: both;
  }
  .boxCol {    
    display: flex;  
    float: left;
    border: 3px solid #807c7c; 
    width: 35%;
    height: 150px;          
    color: black;
    font-weight: bold;
    padding: 0 10px; 
    margin: 20px;     
  }
  .d1 {
    background-color: #ddb0b0;
    float:left;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
  }
  .d2 {
    background-color: #a0e9ed;
    float:left;
    justify-content: center;
    align-items: center;
  }
  .d3 {
    display:table;
    background-color: #ddb0b0;
    float:left;
    margin-top: 0%;
    margin-left: 10%;     
  }
  .d4 {
    display:table;
    background-color: #a0e9ed;
    float:left;
    margin-top: 0%;     
  }

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

 .middleTxt{
    font-size: 2em;    
 }

 /* (B) BREAK DOWN 1 COLUMN ON SMALL SCREENS */
@media only screen and (max-width: 768px) {
    #boxes, .boxCol { display: block; }
    .boxCol { width: 80%; height:auto; margin-left: 10%; }
  }

  .footer {
    background-color: #948f8f;
    text-align: center;
    padding: 10px;
    font-weight: bold;
  }