body{
    background-color:aliceblue;
}

.sitetitle{
    font-size: 40px;
    background-color: #dc143c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
}

/* ORIGINAL navigation style
.navbar {
    overflow: hidden;    
    //position: fixed;
    top: 75px;
    width: 100%;
  }

  .navbar a {
    float: left;
    display: block;
    color: #dc143c;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 18px;
  }
  .navbar a:hover {
    color: #ffffff;
    background-color: #666666;
  }
  */

  /* Lava lamp Navigation */
  nav {
    margin: 27px auto 0;  
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
  }
  nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
  }
  a:nth-child(1) {
    width: 100px;
  }
  a:nth-child(2) {
    width: 110px;
  }
  a:nth-child(3) {
    width: 110px;
  }
  a:nth-child(4) {
    width: 110px;
  }
  /*a:nth-child(5) {
    width: 120px;
  }*/
  nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #1abc9c;
  }
  nav .start-hobbies, a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #e74c3c;
  }
  nav .start-education, a:nth-child(3):hover~.animation {
    width: 110px;
    left: 210px;
    background-color: #3498db;
  }
  nav .start-funfacts, a:nth-child(4):hover~.animation {
    width: 110px;
    left: 320px;
    background-color: #9b59b6;
  }
  /*nav .start-contact, a:nth-child(5):hover~.animation {
    width: 120px;
    left: 470px;
    background-color: #e67e22;
  }*/
  
  /*body {
    font-size: 12px;
    font-family: sans-serif;
    background: #2c3e50;
  }
  h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
  }
  
  p {
      position: absolute;
      bottom: 20px;
      width: 100%;
      text-align: center;
      color: #ecf0f1;
      font-family: 'Cherry Swash',cursive;
      font-size: 16px;
  }
  
  span {
      color: #2BD6B4;
  } */
/* End lava lamp navigation style */

  .container {
    padding: 18px;
    margin-top: 15px;
    height: 2000px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /*Style for my table in my Education page */
#education {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#education td, #education th {
  border: 1px solid #ddd;
  padding: 8px;
}

#education tr:nth-child(even){background-color: #fca311;}

#education tr:hover {background-color: #ddd;}

#education th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #14213d;
  color: white;
}